/* @import url("https://fonts.googleapis.com/css?family=Lora:400|Yeseva+One:400"); */
/* @import url("https://fonts.googleapis.com/css?family=Titillium+Web:400|Amaranth:400"); */
@import url("https://fonts.googleapis.com/css?family=Cabin:400|Raleway:800");

:root {
  --baseFontSize: 100%; /*16px*/

  /* Define colors as colors */
  --green: #00dbc1;
  // --red: #ff5470;
  --red: #DB3000;
  --yellow: #fde24f;
  --black: #1b2d45;
  --darkBlue: #00214d;
  --grey: #bfbfbf;
  --white: #fffffe;

  /* Define Colors intentions */
  --primary: var(--green);
  --secondary: var(--red);
  --danger: var(--red);
  --background: var(--white);
  --textColor: var(--black);
  --lineColor: var(--black);
  --cardBg: var(--white);
  --headerBackground: var(--white);
  --footerBackground: var(--white);
  --blockQuote: var(--black);
  --blockQuoteText: var(--white);

  /* Type */
  --headingFont: "Raleway", sans-serif;
  --bodyFont: "Cabin", sans-serif;
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --p: 1.15rem;
  --textSmall: 0.889em;

  /* Styles */
  --line: solid 1px var(--lineColor);
  --borderRadius: 10px;

  /* Elevation */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* Positioning */
  --containerPadding: 2.5%;
  --headerHeight: 8rem;
}

.purple {
  /* Define colors as colors */
  --green: #00dbc1;
  --red: #DB3000;
  --yellow: #fde24f;
  --black: #010101;
  --darkBlue: #00214d;
  --grey: #94a1b2;
  --white: #fffffe;
  --purple: #7f5af0;

  /* Define Colors intentions */
  --background: var(--purple);
  --textColor: var(--black);
  --primary: var(--green);
  --secondary: var(--white);
  --danger: var(--red);
  --lineColor: var(--green);
  --line: solid 1px var(--lineColor);
  --cardBg: var(--purple);
  --headerBackground: var(--purple);
  --footerBackground: var(--purple);
  --linkColor: var(--white);
  --blockQuote: var(--white);
  --blockQuoteText: var(--black);

  .card {
    border: 1px solid var(--lineColor);
  }
}

.burnt {
  /* Define colors as colors */
  --red: #DB3000;
  --yellow: #fde24f;
  --black: #000;
  --dark: #0f0e17;
  --grey: #a7a9be;
  --white: #fffffe;
  --orange: #ff8906;

  /* Define Colors intentions */
  --background: var(--black);
  --textColor: var(--white);
  --primary: var(--orange);
  --secondary: var(--red);
  --danger: var(--yellow);
  --lineColor: var(--orange);
  --cardBg: var(--black);
  --headerBackground: var(--black);
  --footerBackground: var(--black);
  --linkColor: var(--white);
  --blockQuote: var(--white);
  --blockQuoteText: var(--black);

  .card {
    border: 1px solid var(--orange);
  }
}

.greyed {
  /* Define colors as colors */
  --red: #DB3000;
  --black: #020826;
  --greyOne: #c2c2c2;
  --greyTwo: #817969;
  --white: #fffffe;
  --light: #f9f4ef;

  /* Define Colors intentions */
  --background: var(--light);
  --textColor: var(--black);
  --primary: var(--greyOne);
  --secondary: var(--pink);
  --danger: var(--red);
  --lineColor: var(--white);
  --cardBg: var(--greyTwo);
  --headerBackground: var(--light);
  --footerBackground: var(--light);
  --linkColor: var(--red);
  --blockQuote: var(--white);
  --blockQuoteText: var(--black);
}

html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--background);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.5;
}

p {
  font-size: var(--p);
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--textSmall);
}

.highlight {
  color: var(--secondary);
}

a {
  color: var(--textColor);
  text-decoration: none;
  border-bottom: solid 2px var(--primary);

  &:hover,
  &:focus {
    border-top: solid 2px var(--primary);
    color: var(--secondary);
  }
}

blockquote {
  background: var(--blockQuote);
  margin: 10px;
  padding: 2em;

  a {
    color: var(--blockQuoteText);
  }

  p {
    color: var(--blockQuoteText);
  }
}

label {
  display: block;
  font-size: var(--textSmall);
}

input,
textarea {
  padding: 4px 5px;
  border: var(--line);
  border-radius: 4px;
}

textarea {
  height: 5rem;
  width: 100%;
}

::placeholder {
  color: var(--grey);
}

select {
  border: var(--line);
}

hr {
  border-top: var(--line);
}

button {
  --buttonColor: var(--primary);

  appearance: none;
  color: var(--textColor);
  background-color: var(--buttonColor);
  border: none;
  border-radius: 10px;
  padding: 5px 25px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: 0.2s;

  &:hover,
  &:focus {
    background-color: var(--background);
    border: solid 2px var(--secondary);
    color: var(--textColor);
    cursor: pointer;
  }

  &:active {
    transform: scale(0.95);
  }

  &[disabled] {
    opacity: 0.4;

    &:hover {
      background-color: var(--buttonColor);
    }
  }

  /* Cancel class can mean anything with a cancel class, not just buttons. So button.class will just be buttons with class of cancel */
  &.cancel {
    --buttonColor: var(--danger);
    --textColor: white;
  }

  &.small {
    font-size: var(--textSmall);
  }
}

.image-container {
  height: auto;
  flex-shrink: 0;
  position: relative;
  height: auto;
  width: 40vw;

  img {
    border: solid 2px var(--primary);
    // flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    // height: 100%;
    // width: 100%;
  }
}

.theme-button {
  margin-top: 10px;

  & + & {
    margin-left: 10px;
  }

  &:hover,
  &:focus {
    // filter: invert(100%);
    outline: 0.25em dashed var(--textColor);
    transform: scale(1.25);
  }
}

.grid {
  --gridCols: 2;
  display: block;
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

.cols-3 {
  --gridCols: 3;
}

.flex {
  --justifyContent: space-between;
  display: block;
  justify-content: var(--justifyContent);
}

.flex-around {
  --justifyContent: space-around;
}

.card {
  background: var(--cardBg);
  border-radius: var(--borderRadius);
  padding: 2em;
  box-shadow: var(--level-3);
}

/* First item will never have margin-top */
.card > *:first-child {
  margin-top: 0;
}

/* Last item will never have margin-bottom */
.card > *:last-child {
  margin-bottom: 0;
}

.layout {
  margin: 0 auto;
  padding: calc(3rem + var(--headerHeight)) var(--containerPadding);
  width: 95%;
}

.container {
  padding: var(--containerPadding);
}

.header-nav {
  background: var(--headerBackground);
  color: var(--textColor);
  height: var(--headerHeight);
  // box-shadow: var(--level-4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem var(--containerPadding);
  position: absolute;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;


  @media only screen and (min-width: 750px) {
    flex-direction: row;
    padding: 0 var(--containerPadding);
  }

  .logo {
    font-family: var(--headingFont);
    font-size: var(--h2);

    a {
      border: none;
      transition: 0.6s color;

      &:hover {
        color: var(--primary);
      }
      &:focus {
        border-top: solid 2px var(--secondary);
        border-bottom: solid 2px var(--secondary);

        color: var(--secondary);
      }
    }
  }
}

footer {
  --footerTextColor: var(--textColor);
  background: var(--footerBackground);
  color: var(--footerTextColor);
  padding: 2rem var(--containerPadding);
  text-align: center;

  nav {
    margin-top: 1.5em;
  }

  p {
    margin-bottom: 0;
    max-width: none;
  }
}

nav a {
  color: var(--textColor);
  font-size: 1.15rem;
  text-decoration: none;

  &:hover {
    color: var(--secondary);
  }
}

nav a + a {
  margin-left: 15px;
}

@media only screen and (min-width: 750px) {
  :root {
    --baseFontSize: 112.5%; /*18px*/
  }
  .grid {
    display: grid;
  }
  .flex {
    display: flex;
  }
}

.showCurrentTheme {
  background: var(--background);
  color: var(--textColor);
  border: 0.2rem dashed var(--primary);
  border-radius: var(--borderRadius);
  margin-left: 10px;
  padding: 0.2rem 1.5rem;
}

.dark {
  --background: var(--black);
  --textColor: var(--white);
  --textColor: var(--white);
  --lineColor: var(--white);
  --line: solid 1px var(--lineColor);
  --linkColor: var(--white);
  --headerBackground: var(--black);
  --footerBackground: var(--black);
  --blockQuote: var(--darkBlue);
  --cardBg: var(--black);
}

.oled {
  --black: #000;

  --background: var(--black);
  --textColor: var(--white);
  --textColor: var(--white);
  --lineColor: var(--green);
  --line: solid 1px var(--lineColor);
  --linkColor: var(--white);
  --headerBackground: var(--black);
  --footerBackground: var(--black);
  --blockQuote: var(--darkBlue);
  --cardBg: var(--black);
  .card {
    border: solid 1px var(--lineColor);
  }
}
